*{
	margin: 0;
	padding: 0;
}
.wrapper{
	margin: 0 auto;
	width: 1000px;
	height: auto;
	background-color: aqua;
}
.container1{
	width: 900px;
	height: 450px;
	background-color: red;
	margin: 0 auto; /* agar ditengah */
}
.kotak-container1{
	width: 250px;
	height: 400px;
	background-color: blue;
	margin: 20px 25px;
	float: left;
}
.container2{
	width: 900px;
	height: 450px;
	background-color: yellow;
	margin: 0 auto;
}
.kotak-container2{
	width: 250px;
	height: 200px;
	background-color: green;
	margin: 20px 25px;
	float: left;
}
.panjang-container2{
	width: 850px;
	height: 200px;
	float: left;
	background-color: green;
	margin-left: 25px;
}
.container3{
	width: 900px;
	height: 500px;
	background-color: salmon;
	margin: 0 auto;
}
.kotak-panjang{
	width: 200px;
	height: 450px;
	background-color: black;
	margin: 10px 20px; 
	float: left;
}
.kotak-lebar{
	width: 600px;
	height: 200px;
	background-color: black;
	margin: 10px 20px; 
	float: left;
}
.kotak3{
	width: 180px;
	height: 200px;
	background-color: black;
	float: left;
	margin: 15px;
}
